# ignored folders
MainControlBoard/History/
MainControlBoard/__Previews/
V3_Lights/__Previews/
V3_Lights/History/
MainControlBoard/Project Logs for MainControlBoard/
V3_Lights/Project Logs for V3_Lights/
*.PrjPcbStructure
V3_Horn/Project Logs for V3_Lights/
V3_Horn/History/
V3_Horn/__Previews/
V3_Radio/Project Logs for V3_Lights/
V3_Radio/History/
V3_Radio/__Previews/