# ignored folders
MainControlBoard/History/
MainControlBoard/__Previews/
V3_Lights/__Previews/
V3_Lights/History/
MainControlBoard/Project Logs for MainControlBoard/
V3_Lights/Project Logs for V3_Lights/